<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Roche API Automation Suite" parallel="methods" group-by-instances="true" allow-return-values="true">

    <listeners>
        <listener class-name="test.resources.utilities.ExtentReportManager" />
    </listeners>

    <test name="Exchange Tests">
        <classes>
            <class name="test.java.ExchangeTest"></class>
        </classes>
    </test>
</suite>
